
@import "../../assets/styles/utils/index";
.c-LocalizationForm {
  &__heading {
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
  }
  &__form {
    &__field {
      margin-bottom: 1rem;
    }
    &__label {
      color: white;
      padding: 0.25rem 1rem;
      margin: 0;
      display: inline-block;
    }
    max-width: 640px;
    margin: 0 auto;
    padding: 3rem 0;
  }

  // styles of root component
  padding-top: 3rem;
}
