
@import "../../assets/styles/utils/index";
.c-LocalizationBar {
  
  p {
    margin: 0;
    padding: 1rem;
    color: blueviolet;
    background-color: lavender;
  }

  // styles of root component
  margin-bottom: 1.5rem;
}
