<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
        <settings>
            
        </settings>
        <pipelines>
            <initialize>
                <processor type="Website.Infrastructure.Pipelines.RegisterWebApiRoutes, Website" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" resolve="true"/>
            </initialize>
        </pipelines>
        <services>
            <configurator type="Website.App_Start.Dependencies, Website" lifetime="Singleton"/>
        </services>
    </sitecore>
</configuration>