<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=AP2\MSSQLL2016;Initial Catalog=sxa.hackaton_Core;User ID=coreuser;Password=DbTHhTgfPQMG6h0PKL62" />
  <add name="security" connectionString="Data Source=AP2\MSSQLL2016;Initial Catalog=sxa.hackaton_Core;User ID=securityuser;Password=2kQpYcwemyGWk1OwYh5O" />
  <add name="master" connectionString="Data Source=AP2\MSSQLL2016;Initial Catalog=sxa.hackaton_Master;User ID=masteruser;Password=AkOwuhMOcJRcyjJdrkH3" />
  <add name="web" connectionString="Data Source=AP2\MSSQLL2016;Initial Catalog=sxa.hackaton_Web;User ID=webuser;Password=VqZqQ3dexhVBnPKvp8qj" />
  <add name="messaging" connectionString="Data Source=AP2\MSSQLL2016;Initial Catalog=sxa.hackaton_Messaging;User ID=messaginguser;Password=UhOdHC0s18OsRhSkwghl" />
  <add name="xdb.marketingautomation" connectionString="Data Source=AP2\MSSQLL2016;Initial Catalog=sxa.hackaton_MarketingAutomation;User ID=marketingautomationuser;Password=jfLjHj0PbmB0e7Wvkwi1" />
  <add name="xdb.processing.pools" connectionString="Data Source=AP2\MSSQLL2016;Initial Catalog=sxa.hackaton_Processing.Pools;User ID=poolsuser;Password=rclVIfXCfFbbRYd866OF" />
  <add name="xdb.referencedata" connectionString="Data Source=AP2\MSSQLL2016;Initial Catalog=sxa.hackaton_ReferenceData;User ID=referencedatauser;Password=BoyCHedtdtq06s0IatPy" />
  <add name="xdb.processing.tasks" connectionString="Data Source=AP2\MSSQLL2016;Initial Catalog=sxa.hackaton_Processing.Tasks;User ID=tasksuser;Password=AyQPGvj9QgbYznrBw24g" />
  <add name="experienceforms" connectionString="Data Source=AP2\MSSQLL2016;Initial Catalog=sxa.hackaton_ExperienceForms;User ID=formsuser;Password=N9TtWokRMj1MC2CxoHsC" />
  <add name="exm.master" connectionString="Data Source=AP2\MSSQLL2016;Initial Catalog=sxa.hackaton_EXM.Master;User ID=exmmasteruser;Password=gPuFOlK9knOanzXmVIWM" />
  <add name="reporting" connectionString="Data Source=AP2\MSSQLL2016;Initial Catalog=sxa.hackaton_Reporting;User ID=reportinguser;Password=TL8RzlzD0Hgy17J2BtuK" />
  <add name="sitecore.reporting.client" connectionString="https://sxa.hackaton.xconnect" />
  <add name="sitecore.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=C6515189C77ADC3877A85EDB060150B0436F214B" />
  <add name="solr.search" connectionString="https://solr7.lh:8984/solr" />
  <add name="sitecoreidentity.secret" connectionString="b" />
  <add name="xconnect.collection" connectionString="https://sxa.hackaton.xconnect" />
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=C6515189C77ADC3877A85EDB060150B0436F214B" />
  <add name="xdb.marketingautomation.operations.client" connectionString="https://sxa.hackaton.xconnect" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=C6515189C77ADC3877A85EDB060150B0436F214B" />
  <add name="xdb.marketingautomation.reporting.client" connectionString="https://sxa.hackaton.xconnect" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=C6515189C77ADC3877A85EDB060150B0436F214B" />
  <add name="xdb.referencedata.client" connectionString="https://sxa.hackaton.xconnect" />
  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=C6515189C77ADC3877A85EDB060150B0436F214B" />
  <add name="PackageManagementServiceUrl" connectionString="https://updatecenter.cloud.sitecore.net/" />
  <add name="EXM.CryptographicKey" connectionString="0x0757497627253409771123669669619705857439812679071143290350646995" />
  <add name="EXM.AuthenticationKey" connectionString="0x5412462985114998991969036932348237921261825448806155694795204981" />
</connectionStrings>